<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Initialisation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!--<ion-title size="large">Blank</ion-title>-->
      <ion-menu [content]="mycontent">
        <ion-content class="background">
          <ion-list>
            <p>some menu content, could be list items</p>
          </ion-list>
        </ion-content>
      </ion-menu>
      
      <ion-nav #mycontent [root]="rootPage"></ion-nav>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
  </div>

  <div id="container">
    <div>
      <img src="assets/logo.png" class="logo" alt=""/>
    </div>
    <div></div>
    <div>
      <ion-button href="todolist">Commençons</ion-button>
    </div>
  </div>

</ion-content>
